@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --text-hex: #000;
  --background-hex: #f6f6f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-hex: #fff;
    --background-hex: #141414;
  }
}

body {
  color: var(--text-hex);
  background: var(--background-hex);

  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent; /* remove blue bg on click */
}

/* убираем кнопку закрытия в тосте */
.Toastify__close-button {
  display: none;
}

/* checlbox drop styles */
input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 20px;
  height: 20px;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #5875e8;
  cursor: pointer;
}
input:checked {
  background-color: #5875e8;
  position: relative;
}
input:checked::before {
  content: "✔";
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  position: absolute;
  right: 1px;
}
input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}
input[type="checkbox"]:disabled {
  color: #c0c0c0;
}
