@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --text-hex: #000;
  --background-hex: #f6f6f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-hex: #fff;
    --background-hex: #141414;
  }
}

body {
  color: var(--text-hex);
  background: var(--background-hex);

  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent; /* remove blue bg on click */
}

/* убираем кнопку закрытия в тосте */
.Toastify__close-button {
  display: none;
}
